### Area And Population By States-Census -2011 India

In [3]:
import sys
print(sys.version)

3.5.3 | packaged by conda-forge | (default, Feb  9 2017, 14:37:12)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]

In [304]:
#import important libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [7]:
#load the data
xl = pd.ExcelFile("data/PopulationbyStates-Census.xls")
xl.sheet_names

['Table 2.1']

In [204]:
explore = pd.read_excel('data/PopulationbyStates-Census.xls')
explore.head(10)

,POPULATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,TABLE 2.1- AREA AND POPULATION BY STATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Census-2011),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Population,NaN,NaN,NaN,NaN,NaN
3,India/ State/,Area in,NaN,NaN,NaN,NaN,NaN,
4,Union Territory,sq. kms.,Males,Females,Persons,Rural,Urban,NaN
5,1,2,3,4,5,6,7,NaN
6,INDIA (1) ++,3287469,623270258,587584719,1210854977,833748852,377106125,NaN
7,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,NaN
8,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,NaN
9,Assam,78438,15939443,15266133,31205576,26807034,4398542,NaN

In [205]:
explore.tail(11)

,POPULATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
43,Puducherry,490,612511,635442,1247953,395200,852753,NaN
44,Source: Office of Registrar General of Indi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,* The area figures of States and U.T's do no...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,(i) The shortfall of 7 square km. area of Mad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,( ii ) Disputed area of 13 square km. between...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,(1) The population figures excludes population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,++ Area figures includes the area under unla...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,"5,180 sq. km.illegally handed over by...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [206]:
explore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 8 columns):
POPULATION    50 non-null object
Unnamed: 1    39 non-null object
Unnamed: 2    39 non-null object
Unnamed: 3    38 non-null object
Unnamed: 4    38 non-null object
Unnamed: 5    38 non-null object
Unnamed: 6    38 non-null object
Unnamed: 7    1 non-null object
dtypes: object(8)
memory usage: 3.5+ KB

In [219]:
# delete the first 5 rows and last 10 rows
data = explore.drop(explore.index[0:4])
data.tail(11)

,POPULATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
43,Puducherry,490,612511,635442,1247953,395200,852753,NaN
44,Source: Office of Registrar General of Indi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,* The area figures of States and U.T's do no...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,(i) The shortfall of 7 square km. area of Mad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,( ii ) Disputed area of 13 square km. between...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,(1) The population figures excludes population...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,++ Area figures includes the area under unla...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,"5,180 sq. km.illegally handed over by...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
data = data.drop(data.index[-10:-1])
data

,POPULATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
4,Union Territory,sq. kms.,Males,Females,Persons,Rural,Urban,NaN
5,1,2,3,4,5,6,7,NaN
6,INDIA (1) ++,3287469,623270258,587584719,1210854977,833748852,377106125,NaN
7,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,NaN
8,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,NaN
9,Assam,78438,15939443,15266133,31205576,26807034,4398542,NaN
10,Bihar,94163,54278157,49821295,104099452,92341436,11758016,NaN
11,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237,NaN
12,Goa,3702,739140,719405,1458545,551731,906814,NaN
13,Gujarat,196244,31491260,28948432,60439692,34694609,25745083,NaN
14,Haryana,44212,13494734,11856728,25351462,16509359,8842103,NaN
15,Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552,NaN
16,Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242,NaN
17,Jharkhand,79716,16930315,16057819,32988134,25055073,7933061,NaN
18,Karnataka,191791,30966657,30128640,61095297,37469335,23625962,NaN
19,Kerala,38852,16027412,17378649,33406061,17471135,15934926,NaN
20,Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405,NaN
21,Maharashtra,307713,58243056,54131277,112374333,61556074,50818259,NaN
22,Manipur,22327,1438586,1417208,2855794,2021640,834154,NaN
23,Meghalaya,22429,1491832,1475057,2966889,2371439,595450,NaN
24,Mizoram,21081,555339,541867,1097206,525435,571771,NaN
25,Nagaland,16579,1024649,953853,1978502,1407536,570966,NaN
26,Odisha,155707,21212136,20762082,41974218,34970562,7003656,NaN
27,Punjab,50362,14639465,13103873,27743338,17344192,10399146,NaN
28,Rajasthan,342239,35550997,32997440,68548437,51500352,17048085,NaN
29,Sikkim,7096,323070,287507,610577,456999,153578,NaN
30,Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440,NaN
31,Tripura,10486,1874376,1799541,3673917,2712464,961453,NaN
32,Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063,NaN
33,Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338,NaN
34,West Bengal,88752,46809027,44467088,91276115,62183113,29093002,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Union Territory:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,A.& N.Islands,8249,202871,177710,380581,237093,143488,NaN
38,Chandigarh,114,580663,474787,1055450,28991,1026459,NaN
39,D.& N.Haveli,491,193760,149949,343709,183114,160595,NaN
40,Daman & Diu,111,150301,92946,243247,60396,182851,NaN
41,Delhi,1483,8987326,7800615,16787941,419042,16368899,NaN
42,Lakshadweep,30,33123,31350,64473,14141,50332,NaN
43,Puducherry,490,612511,635442,1247953,395200,852753,NaN
53,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
data.columns

Index(['POPULATION', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [222]:
# 4th row contains labels of interest
data.loc[4].values

array([' Union Territory ', ' sq. kms.', ' Males', 'Females', 'Persons',
       ' Rural', 'Urban', nan], dtype=object)

In [223]:
# change the 4th row first column value to 'State'
data.loc[4][0] = 'State'
data.loc[4][1] = 'Area'
data.loc[4][7] = 'Dummy'
data.loc[4].values

array(['State', 'Area', ' Males', 'Females', 'Persons', ' Rural', 'Urban',
       'Dummy'], dtype=object)

In [224]:
#store total of india
ind_total = data.loc[6].values
ind_total[0] = 'Total'
ind_total

array(['Total', 3287469, 623270258, 587584719, 1210854977, 833748852,
       377106125, nan], dtype=object)

In [201]:
# resetting index
data = data.reset_index(drop=True)
data

,POPULATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,State,Area,Males,Females,Persons,Rural,Urban,Dummy
1,1,2,3,4,5,6,7,NaN
2,Total,3287469,623270258,587584719,1210854977,833748852,377106125,NaN
3,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,NaN
4,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,NaN
5,Assam,78438,15939443,15266133,31205576,26807034,4398542,NaN
6,Bihar,94163,54278157,49821295,104099452,92341436,11758016,NaN
7,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237,NaN
8,Goa,3702,739140,719405,1458545,551731,906814,NaN
9,Gujarat,196244,31491260,28948432,60439692,34694609,25745083,NaN
10,Haryana,44212,13494734,11856728,25351462,16509359,8842103,NaN
11,Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552,NaN
12,Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242,NaN
13,Jharkhand,79716,16930315,16057819,32988134,25055073,7933061,NaN
14,Karnataka,191791,30966657,30128640,61095297,37469335,23625962,NaN
15,Kerala,38852,16027412,17378649,33406061,17471135,15934926,NaN
16,Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405,NaN
17,Maharashtra,307713,58243056,54131277,112374333,61556074,50818259,NaN
18,Manipur,22327,1438586,1417208,2855794,2021640,834154,NaN
19,Meghalaya,22429,1491832,1475057,2966889,2371439,595450,NaN
20,Mizoram,21081,555339,541867,1097206,525435,571771,NaN
21,Nagaland,16579,1024649,953853,1978502,1407536,570966,NaN
22,Odisha,155707,21212136,20762082,41974218,34970562,7003656,NaN
23,Punjab,50362,14639465,13103873,27743338,17344192,10399146,NaN
24,Rajasthan,342239,35550997,32997440,68548437,51500352,17048085,NaN
25,Sikkim,7096,323070,287507,610577,456999,153578,NaN
26,Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440,NaN
27,Tripura,10486,1874376,1799541,3673917,2712464,961453,NaN
28,Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063,NaN
29,Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338,NaN
30,West Bengal,88752,46809027,44467088,91276115,62183113,29093002,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Union Territory:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,A.& N.Islands,8249,202871,177710,380581,237093,143488,NaN
34,Chandigarh,114,580663,474787,1055450,28991,1026459,NaN
35,D.& N.Haveli,491,193760,149949,343709,183114,160595,NaN
36,Daman & Diu,111,150301,92946,243247,60396,182851,NaN
37,Delhi,1483,8987326,7800615,16787941,419042,16368899,NaN
38,Lakshadweep,30,33123,31350,64473,14141,50332,NaN
39,Puducherry,490,612511,635442,1247953,395200,852753,NaN
40,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
#required data lies between row's index's 3 and 40
#required column names lie in row index 0
# required Total value lie in row index  2


#Operations to do

# 1)Change data column names to labels in row 1
data.columns = data.iloc[0].values
data

,State,Area,Males,Females,Persons,Rural,Urban,Dummy
4,State,Area,Males,Females,Persons,Rural,Urban,Dummy
5,1,2,3,4,5,6,7,NaN
6,Total,3287469,623270258,587584719,1210854977,833748852,377106125,NaN
7,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,NaN
8,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,NaN
9,Assam,78438,15939443,15266133,31205576,26807034,4398542,NaN
10,Bihar,94163,54278157,49821295,104099452,92341436,11758016,NaN
11,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237,NaN
12,Goa,3702,739140,719405,1458545,551731,906814,NaN
13,Gujarat,196244,31491260,28948432,60439692,34694609,25745083,NaN
14,Haryana,44212,13494734,11856728,25351462,16509359,8842103,NaN
15,Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552,NaN
16,Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242,NaN
17,Jharkhand,79716,16930315,16057819,32988134,25055073,7933061,NaN
18,Karnataka,191791,30966657,30128640,61095297,37469335,23625962,NaN
19,Kerala,38852,16027412,17378649,33406061,17471135,15934926,NaN
20,Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405,NaN
21,Maharashtra,307713,58243056,54131277,112374333,61556074,50818259,NaN
22,Manipur,22327,1438586,1417208,2855794,2021640,834154,NaN
23,Meghalaya,22429,1491832,1475057,2966889,2371439,595450,NaN
24,Mizoram,21081,555339,541867,1097206,525435,571771,NaN
25,Nagaland,16579,1024649,953853,1978502,1407536,570966,NaN
26,Odisha,155707,21212136,20762082,41974218,34970562,7003656,NaN
27,Punjab,50362,14639465,13103873,27743338,17344192,10399146,NaN
28,Rajasthan,342239,35550997,32997440,68548437,51500352,17048085,NaN
29,Sikkim,7096,323070,287507,610577,456999,153578,NaN
30,Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440,NaN
31,Tripura,10486,1874376,1799541,3673917,2712464,961453,NaN
32,Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063,NaN
33,Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338,NaN
34,West Bengal,88752,46809027,44467088,91276115,62183113,29093002,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Union Territory:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,A.& N.Islands,8249,202871,177710,380581,237093,143488,NaN
38,Chandigarh,114,580663,474787,1055450,28991,1026459,NaN
39,D.& N.Haveli,491,193760,149949,343709,183114,160595,NaN
40,Daman & Diu,111,150301,92946,243247,60396,182851,NaN
41,Delhi,1483,8987326,7800615,16787941,419042,16368899,NaN
42,Lakshadweep,30,33123,31350,64473,14141,50332,NaN
43,Puducherry,490,612511,635442,1247953,395200,852753,NaN
53,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
# drop row indexes 29 and 30
data = data.drop(data.index[29:31]).reset_index(drop=True)
data

,State,Area,Males,Females,Persons,Rural,Urban,nan
0,Total,3287469,623270258,587584719,1210854977,833748852,377106125,NaN
1,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,NaN
2,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,NaN
3,Assam,78438,15939443,15266133,31205576,26807034,4398542,NaN
4,Bihar,94163,54278157,49821295,104099452,92341436,11758016,NaN
5,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237,NaN
6,Goa,3702,739140,719405,1458545,551731,906814,NaN
7,Gujarat,196244,31491260,28948432,60439692,34694609,25745083,NaN
8,Haryana,44212,13494734,11856728,25351462,16509359,8842103,NaN
9,Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552,NaN
10,Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242,NaN
11,Jharkhand,79716,16930315,16057819,32988134,25055073,7933061,NaN
12,Karnataka,191791,30966657,30128640,61095297,37469335,23625962,NaN
13,Kerala,38852,16027412,17378649,33406061,17471135,15934926,NaN
14,Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405,NaN
15,Maharashtra,307713,58243056,54131277,112374333,61556074,50818259,NaN
16,Manipur,22327,1438586,1417208,2855794,2021640,834154,NaN
17,Meghalaya,22429,1491832,1475057,2966889,2371439,595450,NaN
18,Mizoram,21081,555339,541867,1097206,525435,571771,NaN
19,Nagaland,16579,1024649,953853,1978502,1407536,570966,NaN
20,Odisha,155707,21212136,20762082,41974218,34970562,7003656,NaN
21,Punjab,50362,14639465,13103873,27743338,17344192,10399146,NaN
22,Rajasthan,342239,35550997,32997440,68548437,51500352,17048085,NaN
23,Sikkim,7096,323070,287507,610577,456999,153578,NaN
24,Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440,NaN
25,Tripura,10486,1874376,1799541,3673917,2712464,961453,NaN
26,Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063,NaN
27,Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338,NaN
28,West Bengal,88752,46809027,44467088,91276115,62183113,29093002,NaN
29,A.& N.Islands,8249,202871,177710,380581,237093,143488,NaN
30,Chandigarh,114,580663,474787,1055450,28991,1026459,NaN
31,D.& N.Haveli,491,193760,149949,343709,183114,160595,NaN
32,Daman & Diu,111,150301,92946,243247,60396,182851,NaN
33,Delhi,1483,8987326,7800615,16787941,419042,16368899,NaN
34,Lakshadweep,30,33123,31350,64473,14141,50332,NaN
35,Puducherry,490,612511,635442,1247953,395200,852753,NaN
36,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
data.reset_index(drop=True)
s = data

In [276]:
s

,State,Area,Males,Females,Persons,Rural,Urban,Dummy
4,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,NaN
5,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,NaN
6,Assam,78438,15939443,15266133,31205576,26807034,4398542,NaN
7,Bihar,94163,54278157,49821295,104099452,92341436,11758016,NaN
8,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237,NaN
9,Goa,3702,739140,719405,1458545,551731,906814,NaN
10,Gujarat,196244,31491260,28948432,60439692,34694609,25745083,NaN
11,Haryana,44212,13494734,11856728,25351462,16509359,8842103,NaN
12,Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552,NaN
13,Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242,NaN
14,Jharkhand,79716,16930315,16057819,32988134,25055073,7933061,NaN
15,Karnataka,191791,30966657,30128640,61095297,37469335,23625962,NaN
16,Kerala,38852,16027412,17378649,33406061,17471135,15934926,NaN
17,Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405,NaN
18,Maharashtra,307713,58243056,54131277,112374333,61556074,50818259,NaN
19,Manipur,22327,1438586,1417208,2855794,2021640,834154,NaN
20,Meghalaya,22429,1491832,1475057,2966889,2371439,595450,NaN
21,Mizoram,21081,555339,541867,1097206,525435,571771,NaN
22,Nagaland,16579,1024649,953853,1978502,1407536,570966,NaN
23,Odisha,155707,21212136,20762082,41974218,34970562,7003656,NaN
24,Punjab,50362,14639465,13103873,27743338,17344192,10399146,NaN
25,Rajasthan,342239,35550997,32997440,68548437,51500352,17048085,NaN
26,Sikkim,7096,323070,287507,610577,456999,153578,NaN
27,Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440,NaN
28,Tripura,10486,1874376,1799541,3673917,2712464,961453,NaN
29,Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063,NaN
30,Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338,NaN
31,West Bengal,88752,46809027,44467088,91276115,62183113,29093002,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Union Territory:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,A.& N.Islands,8249,202871,177710,380581,237093,143488,NaN
35,Chandigarh,114,580663,474787,1055450,28991,1026459,NaN
36,D.& N.Haveli,491,193760,149949,343709,183114,160595,NaN
37,Daman & Diu,111,150301,92946,243247,60396,182851,NaN
38,Delhi,1483,8987326,7800615,16787941,419042,16368899,NaN
39,Lakshadweep,30,33123,31350,64473,14141,50332,NaN
40,Puducherry,490,612511,635442,1247953,395200,852753,NaN
41,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,State,Area,Males,Females,Persons,Rural,Urban,Dummy
43,1,2,3,4,5,6,7,NaN
53,Total,3287469,623270258,587584719,1210854977,833748852,377106125,NaN

In [253]:
# shifting a row to the end, in this case the first row
target_row = data.iloc[[0],:]
data = data.shift(-1)
data.iloc[-1] = target_row.squeeze()
data

,State,Area,Males,Females,Persons,Rural,Urban,Dummy
4,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,NaN
5,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,NaN
6,Assam,78438,15939443,15266133,31205576,26807034,4398542,NaN
7,Bihar,94163,54278157,49821295,104099452,92341436,11758016,NaN
8,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237,NaN
9,Goa,3702,739140,719405,1458545,551731,906814,NaN
10,Gujarat,196244,31491260,28948432,60439692,34694609,25745083,NaN
11,Haryana,44212,13494734,11856728,25351462,16509359,8842103,NaN
12,Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552,NaN
13,Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242,NaN
14,Jharkhand,79716,16930315,16057819,32988134,25055073,7933061,NaN
15,Karnataka,191791,30966657,30128640,61095297,37469335,23625962,NaN
16,Kerala,38852,16027412,17378649,33406061,17471135,15934926,NaN
17,Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405,NaN
18,Maharashtra,307713,58243056,54131277,112374333,61556074,50818259,NaN
19,Manipur,22327,1438586,1417208,2855794,2021640,834154,NaN
20,Meghalaya,22429,1491832,1475057,2966889,2371439,595450,NaN
21,Mizoram,21081,555339,541867,1097206,525435,571771,NaN
22,Nagaland,16579,1024649,953853,1978502,1407536,570966,NaN
23,Odisha,155707,21212136,20762082,41974218,34970562,7003656,NaN
24,Punjab,50362,14639465,13103873,27743338,17344192,10399146,NaN
25,Rajasthan,342239,35550997,32997440,68548437,51500352,17048085,NaN
26,Sikkim,7096,323070,287507,610577,456999,153578,NaN
27,Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440,NaN
28,Tripura,10486,1874376,1799541,3673917,2712464,961453,NaN
29,Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063,NaN
30,Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338,NaN
31,West Bengal,88752,46809027,44467088,91276115,62183113,29093002,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Union Territory:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,A.& N.Islands,8249,202871,177710,380581,237093,143488,NaN
35,Chandigarh,114,580663,474787,1055450,28991,1026459,NaN
36,D.& N.Haveli,491,193760,149949,343709,183114,160595,NaN
37,Daman & Diu,111,150301,92946,243247,60396,182851,NaN
38,Delhi,1483,8987326,7800615,16787941,419042,16368899,NaN
39,Lakshadweep,30,33123,31350,64473,14141,50332,NaN
40,Puducherry,490,612511,635442,1247953,395200,852753,NaN
41,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,State,Area,Males,Females,Persons,Rural,Urban,Dummy
43,1,2,3,4,5,6,7,NaN
53,Total,3287469,623270258,587584719,1210854977,833748852,377106125,NaN

In [277]:
s = s.reset_index(drop=True)

In [278]:
s.head()

,State,Area,Males,Females,Persons,Rural,Urban,Dummy
0,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,NaN
1,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,NaN
2,Assam,78438,15939443,15266133,31205576,26807034,4398542,NaN
3,Bihar,94163,54278157,49821295,104099452,92341436,11758016,NaN
4,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237,NaN

In [279]:
s.tail()

,State,Area,Males,Females,Persons,Rural,Urban,Dummy
36,Puducherry,490,612511,635442,1247953,395200,852753,NaN
37,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,State,Area,Males,Females,Persons,Rural,Urban,Dummy
39,1,2,3,4,5,6,7,NaN
40,Total,3287469,623270258,587584719,1210854977,833748852,377106125,NaN

In [280]:
s = s.drop(s.index[37:40]).reset_index(drop=True)

In [282]:
s = s.drop(s.index[28:30]).reset_index(drop=True)
s

,State,Area,Males,Females,Persons,Rural,Urban,Dummy
0,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,NaN
1,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,NaN
2,Assam,78438,15939443,15266133,31205576,26807034,4398542,NaN
3,Bihar,94163,54278157,49821295,104099452,92341436,11758016,NaN
4,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237,NaN
5,Goa,3702,739140,719405,1458545,551731,906814,NaN
6,Gujarat,196244,31491260,28948432,60439692,34694609,25745083,NaN
7,Haryana,44212,13494734,11856728,25351462,16509359,8842103,NaN
8,Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552,NaN
9,Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242,NaN
10,Jharkhand,79716,16930315,16057819,32988134,25055073,7933061,NaN
11,Karnataka,191791,30966657,30128640,61095297,37469335,23625962,NaN
12,Kerala,38852,16027412,17378649,33406061,17471135,15934926,NaN
13,Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405,NaN
14,Maharashtra,307713,58243056,54131277,112374333,61556074,50818259,NaN
15,Manipur,22327,1438586,1417208,2855794,2021640,834154,NaN
16,Meghalaya,22429,1491832,1475057,2966889,2371439,595450,NaN
17,Mizoram,21081,555339,541867,1097206,525435,571771,NaN
18,Nagaland,16579,1024649,953853,1978502,1407536,570966,NaN
19,Odisha,155707,21212136,20762082,41974218,34970562,7003656,NaN
20,Punjab,50362,14639465,13103873,27743338,17344192,10399146,NaN
21,Rajasthan,342239,35550997,32997440,68548437,51500352,17048085,NaN
22,Sikkim,7096,323070,287507,610577,456999,153578,NaN
23,Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440,NaN
24,Tripura,10486,1874376,1799541,3673917,2712464,961453,NaN
25,Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063,NaN
26,Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338,NaN
27,West Bengal,88752,46809027,44467088,91276115,62183113,29093002,NaN
28,A.& N.Islands,8249,202871,177710,380581,237093,143488,NaN
29,Chandigarh,114,580663,474787,1055450,28991,1026459,NaN
30,D.& N.Haveli,491,193760,149949,343709,183114,160595,NaN
31,Daman & Diu,111,150301,92946,243247,60396,182851,NaN
32,Delhi,1483,8987326,7800615,16787941,419042,16368899,NaN
33,Lakshadweep,30,33123,31350,64473,14141,50332,NaN
34,Puducherry,490,612511,635442,1247953,395200,852753,NaN
35,Total,3287469,623270258,587584719,1210854977,833748852,377106125,NaN

In [284]:
k = s
k = k.drop(labels='Dummy', axis=1)
k

,State,Area,Males,Females,Persons,Rural,Urban
0,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075
1,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369
2,Assam,78438,15939443,15266133,31205576,26807034,4398542
3,Bihar,94163,54278157,49821295,104099452,92341436,11758016
4,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237
5,Goa,3702,739140,719405,1458545,551731,906814
6,Gujarat,196244,31491260,28948432,60439692,34694609,25745083
7,Haryana,44212,13494734,11856728,25351462,16509359,8842103
8,Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552
9,Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242
10,Jharkhand,79716,16930315,16057819,32988134,25055073,7933061
11,Karnataka,191791,30966657,30128640,61095297,37469335,23625962
12,Kerala,38852,16027412,17378649,33406061,17471135,15934926
13,Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405
14,Maharashtra,307713,58243056,54131277,112374333,61556074,50818259
15,Manipur,22327,1438586,1417208,2855794,2021640,834154
16,Meghalaya,22429,1491832,1475057,2966889,2371439,595450
17,Mizoram,21081,555339,541867,1097206,525435,571771
18,Nagaland,16579,1024649,953853,1978502,1407536,570966
19,Odisha,155707,21212136,20762082,41974218,34970562,7003656
20,Punjab,50362,14639465,13103873,27743338,17344192,10399146
21,Rajasthan,342239,35550997,32997440,68548437,51500352,17048085
22,Sikkim,7096,323070,287507,610577,456999,153578
23,Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440
24,Tripura,10486,1874376,1799541,3673917,2712464,961453
25,Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063
26,Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338
27,West Bengal,88752,46809027,44467088,91276115,62183113,29093002
28,A.& N.Islands,8249,202871,177710,380581,237093,143488
29,Chandigarh,114,580663,474787,1055450,28991,1026459
30,D.& N.Haveli,491,193760,149949,343709,183114,160595
31,Daman & Diu,111,150301,92946,243247,60396,182851
32,Delhi,1483,8987326,7800615,16787941,419042,16368899
33,Lakshadweep,30,33123,31350,64473,14141,50332
34,Puducherry,490,612511,635442,1247953,395200,852753
35,Total,3287469,623270258,587584719,1210854977,833748852,377106125

In [285]:
data = k
data.head()

,State,Area,Males,Females,Persons,Rural,Urban
0,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075
1,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369
2,Assam,78438,15939443,15266133,31205576,26807034,4398542
3,Bihar,94163,54278157,49821295,104099452,92341436,11758016
4,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237

In [288]:
states = data.iloc[0:28]
states

,State,Area,Males,Females,Persons,Rural,Urban
0,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075
1,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369
2,Assam,78438,15939443,15266133,31205576,26807034,4398542
3,Bihar,94163,54278157,49821295,104099452,92341436,11758016
4,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237
5,Goa,3702,739140,719405,1458545,551731,906814
6,Gujarat,196244,31491260,28948432,60439692,34694609,25745083
7,Haryana,44212,13494734,11856728,25351462,16509359,8842103
8,Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552
9,Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242
10,Jharkhand,79716,16930315,16057819,32988134,25055073,7933061
11,Karnataka,191791,30966657,30128640,61095297,37469335,23625962
12,Kerala,38852,16027412,17378649,33406061,17471135,15934926
13,Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405
14,Maharashtra,307713,58243056,54131277,112374333,61556074,50818259
15,Manipur,22327,1438586,1417208,2855794,2021640,834154
16,Meghalaya,22429,1491832,1475057,2966889,2371439,595450
17,Mizoram,21081,555339,541867,1097206,525435,571771
18,Nagaland,16579,1024649,953853,1978502,1407536,570966
19,Odisha,155707,21212136,20762082,41974218,34970562,7003656
20,Punjab,50362,14639465,13103873,27743338,17344192,10399146
21,Rajasthan,342239,35550997,32997440,68548437,51500352,17048085
22,Sikkim,7096,323070,287507,610577,456999,153578
23,Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440
24,Tripura,10486,1874376,1799541,3673917,2712464,961453
25,Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063
26,Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338
27,West Bengal,88752,46809027,44467088,91276115,62183113,29093002

In [292]:
ut = data.iloc[28:35]
ut = ut.rename(columns={'State': 'Union Territory'})
ut

    Union Territory  Area    Males  Females   Persons   Rural     Urban
28   A.& N.Islands   8249   202871   177710    380581  237093    143488
29      Chandigarh    114   580663   474787   1055450   28991   1026459
30    D.& N.Haveli    491   193760   149949    343709  183114    160595
31     Daman & Diu    111   150301    92946    243247   60396    182851
32           Delhi   1483  8987326  7800615  16787941  419042  16368899
33     Lakshadweep     30    33123    31350     64473   14141     50332
34      Puducherry    490   612511   635442   1247953  395200    852753

In [302]:
# Lets look at state data
  # number of states
n = states['State'].count()
print('Total number of states: {0}'.format(n))
  # total area
area = states['Area'].sum()
print('Total area of the states in sq Km: {0}'.format(area))

Total number of states: 28
Total area of the states in sq Km: 3276501

In [307]:
states.head()

,State,Area,Males,Females,Persons,Rural,Urban
0,Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075
1,Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369
2,Assam,78438,15939443,15266133,31205576,26807034,4398542
3,Bihar,94163,54278157,49821295,104099452,92341436,11758016
4,Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237

In [313]:
states.set_index('State')
states

,Area,Males,Females,Persons,Rural,Urban
State,,,,,,
Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075
Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369
Assam,78438,15939443,15266133,31205576,26807034,4398542
Bihar,94163,54278157,49821295,104099452,92341436,11758016
Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237
Goa,3702,739140,719405,1458545,551731,906814
Gujarat,196244,31491260,28948432,60439692,34694609,25745083
Haryana,44212,13494734,11856728,25351462,16509359,8842103
Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552
Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242
Jharkhand,79716,16930315,16057819,32988134,25055073,7933061
Karnataka,191791,30966657,30128640,61095297,37469335,23625962
Kerala,38852,16027412,17378649,33406061,17471135,15934926
Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405
Maharashtra,307713,58243056,54131277,112374333,61556074,50818259
Manipur,22327,1438586,1417208,2855794,2021640,834154
Meghalaya,22429,1491832,1475057,2966889,2371439,595450
Mizoram,21081,555339,541867,1097206,525435,571771
Nagaland,16579,1024649,953853,1978502,1407536,570966
Odisha,155707,21212136,20762082,41974218,34970562,7003656
Punjab,50362,14639465,13103873,27743338,17344192,10399146
Rajasthan,342239,35550997,32997440,68548437,51500352,17048085
Sikkim,7096,323070,287507,610577,456999,153578
Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440
Tripura,10486,1874376,1799541,3673917,2712464,961453
Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063
Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338
West Bengal,88752,46809027,44467088,91276115,62183113,29093002

In [319]:
#sort by area
states.sort_values(by='Area',ascending=False)

,Area,Males,Females,Persons,Rural,Urban
State,,,,,,
Rajasthan,342239,35550997,32997440,68548437,51500352,17048085
Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405
Maharashtra,307713,58243056,54131277,112374333,61556074,50818259
Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075
Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063
Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242
Gujarat,196244,31491260,28948432,60439692,34694609,25745083
Karnataka,191791,30966657,30128640,61095297,37469335,23625962
Odisha,155707,21212136,20762082,41974218,34970562,7003656
Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237
Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440
Bihar,94163,54278157,49821295,104099452,92341436,11758016
West Bengal,88752,46809027,44467088,91276115,62183113,29093002
Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369
Jharkhand,79716,16930315,16057819,32988134,25055073,7933061
Assam,78438,15939443,15266133,31205576,26807034,4398542
Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552
Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338
Punjab,50362,14639465,13103873,27743338,17344192,10399146
Haryana,44212,13494734,11856728,25351462,16509359,8842103
Kerala,38852,16027412,17378649,33406061,17471135,15934926
Meghalaya,22429,1491832,1475057,2966889,2371439,595450
Manipur,22327,1438586,1417208,2855794,2021640,834154
Mizoram,21081,555339,541867,1097206,525435,571771
Nagaland,16579,1024649,953853,1978502,1407536,570966
Tripura,10486,1874376,1799541,3673917,2712464,961453
Sikkim,7096,323070,287507,610577,456999,153578
Goa,3702,739140,719405,1458545,551731,906814

In [333]:
states.columns = states.columns.str.replace('\s+','')

In [334]:
#Population density (No of ppl / sq km)
states['Density'] = states['Persons']/states['Area']
#Male Females ration
states['MF_ratio'] = states['Males']/states['Females']
#Urban Rural ratio
states['UR_ratio'] = states['Urban']/states['Rural']
states

,Area,Males,Females,Persons,Rural,Urban,Density,MF_ratio,UR_ratio
State,,,,,,,,,
Andhra Pradesh,275045,42442146,42138631,84580777,56361702,28219075,307.516,1.0072,0.500678
Arunachal Pradesh,83743,713912,669815,1383727,1066358,317369,16.5235,1.06583,0.29762
Assam,78438,15939443,15266133,31205576,26807034,4398542,397.837,1.0441,0.164082
Bihar,94163,54278157,49821295,104099452,92341436,11758016,1105.52,1.08946,0.127332
Chhattisgarh,135192,12832895,12712303,25545198,19607961,5937237,188.955,1.00949,0.302797
Goa,3702,739140,719405,1458545,551731,906814,393.988,1.02743,1.64358
Gujarat,196244,31491260,28948432,60439692,34694609,25745083,307.982,1.08784,0.742049
Haryana,44212,13494734,11856728,25351462,16509359,8842103,573.407,1.13815,0.535581
Himachal Pradesh,55673,3481873,3382729,6864602,6176050,688552,123.302,1.02931,0.111487
Jammu & Kashmir (1) ++,222236,6640662,5900640,12541302,9108060,3433242,56.4324,1.12541,0.376945
Jharkhand,79716,16930315,16057819,32988134,25055073,7933061,413.821,1.05433,0.316625
Karnataka,191791,30966657,30128640,61095297,37469335,23625962,318.551,1.02781,0.630541
Kerala,38852,16027412,17378649,33406061,17471135,15934926,859.829,0.922247,0.912072
Madhya Pradesh,308252,37612306,35014503,72626809,52557404,20069405,235.609,1.07419,0.381857
Maharashtra,307713,58243056,54131277,112374333,61556074,50818259,365.192,1.07596,0.82556
Manipur,22327,1438586,1417208,2855794,2021640,834154,127.908,1.01508,0.412613
Meghalaya,22429,1491832,1475057,2966889,2371439,595450,132.279,1.01137,0.251092
Mizoram,21081,555339,541867,1097206,525435,571771,52.0472,1.02486,1.08819
Nagaland,16579,1024649,953853,1978502,1407536,570966,119.338,1.07422,0.405649
Odisha,155707,21212136,20762082,41974218,34970562,7003656,269.572,1.02168,0.200273
Punjab,50362,14639465,13103873,27743338,17344192,10399146,550.878,1.11719,0.599575
Rajasthan,342239,35550997,32997440,68548437,51500352,17048085,200.294,1.07739,0.331029
Sikkim,7096,323070,287507,610577,456999,153578,86.0452,1.12369,0.336058
Tamil Nadu,130060,36137975,36009055,72147030,37229590,34917440,554.721,1.00358,0.937895
Tripura,10486,1874376,1799541,3673917,2712464,961453,350.364,1.04159,0.354457
Uttar Pradesh,240928,104480510,95331831,199812341,155317278,44495063,829.345,1.09597,0.286479
Uttarakhand,53483,5137773,4948519,10086292,7036954,3049338,188.589,1.03824,0.433332
West Bengal,88752,46809027,44467088,91276115,62183113,29093002,1028.44,1.05267,0.46786